.btn-back {
  cursor: pointer;
  border: 2px solid white;
  color: #f8f8ff;
  background:
      radial-gradient(circle at 50% 20%,
        #1d1135 0%,
        #0a0a2e 30%,
        #0b1a4a 60%,
        #1a1a2e 100%),
      repeating-linear-gradient(-45deg,
        transparent 0px,
        transparent 2px,
        #6d3dff0a 3px,
        transparent 4px);
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
}

.btn-back:hover {
  filter: brightness(1.8);
}
