container-home {
  font: inherit;
  margin-top: -1rem;
}

.container-play-legacy {
  margin-top: 0.4rem;
  padding: 2rem 0;
  border-radius: 1.4rem;
  background-color: #ffc400;
  color: white;
  will-change: transform, filter;
}
.container-play-legacy::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 1.4rem;
  background: radial-gradient(circle, #00000066 20%, transparent 21%);
  background-size: 5px 5px;
  z-index: -1;
}

.home-play {
  cursor: pointer;
  margin: auto;
  text-align: center;
  padding: 1rem 0.2rem;
  border-radius: 1rem;
  width: 95%;
  background:
    radial-gradient(circle at 50% 20%,
    #1d1135 0%,
    #0a0a2e 30%,
    #0b1a4a 60%,
    #1a1a2e 100%),
    repeating-linear-gradient(-45deg,
    transparent 0px,
    transparent 2px,
    #6d3dff0a 3px,
    transparent 4px);
}

.home-legacy {
  cursor: pointer;
  font-weight: bold;
  text-shadow: #0a0a2e 2px 2px 10px;
  margin: auto;
  margin-top: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 1rem 0.2rem;
  width: 95%;
  background: url('https://thegamecollective.com.br/cdn/shop/articles/louis-vuitton-e-nba-revelam-a-mala-de-luxo-feita-para-o-trofeu-larry-obrien-260758.jpg?v=1737128203&width=1100');
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  height: 11rem;
}

.home-match {
  cursor: pointer;
  margin: auto;
  margin-top: 0.4rem;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.1rem 0.2rem;
  text-align: center;
  height: 5rem;
}

.home-store {
  cursor: pointer;
  background: url('https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-08/nba-plain--d024012c-210a-4a0d-b90a-df2d2f20c7f4.png?itok=Zaay5aY4');
  background-position: bottom;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  height: 5rem;
  font-weight: bold;
  text-shadow: #0a0a2e 4px 4px 14px;
  margin: auto;
  margin-top: 0.4rem;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.1rem 0.2rem;
  text-align: center;
}


.comunit {
  cursor: pointer;
  margin: auto;
  margin-top: 0.4rem;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.1rem 0.2rem;
  text-align: center;
  height: 5rem;
  background-color: #d10050;
  will-change: transform, filter;
}.comunit::before {
   content: "";
   position: absolute;
   top: 0%;
   left: 0%;
   width: 100%;
   height: 100%;
   border-radius: 1rem;
   background: radial-gradient(circle, rgba(240, 240, 240, 0.363) 20%, transparent 21%);
   background-size: 5px 5px;
   z-index: -1;
 }
