<div class="container-home">
  <app-card-play [player]="player" />

  <div class="container-play-legacy">
    <div class="home-play" routerLink="/community" type="button">
      <h1>partida</h1>
    </div>
    <div class="home-legacy" routerLink="/legacy" type="button">
      <h1 rel="Legacy">Legado</h1>
      <span rel="Trophies">Troféus</span>
    </div>
  </div>
  <div class="home-store">
    <h1 rel="Store">Loja</h1>
  </div>
  <div class="comunit">
    <h1 rel="Comunit">Comunidades</h1>
  </div>
<!--  <div class="mini-games">-->
<!--    <h1 rel="Mini Games">Mini Games</h1>-->
<!--  </div>-->
</div>

