<div class="team-column" [class.team-a-col]="teamId === 'A'" [class.team-b-col]="teamId === 'B'">
  <h3>{{ title }}</h3>
  <ul>
    @for (p of players; track $index) {
      <li class="player-row">
        <div class="info">
          <span class="avatar-badge-wrap">
            <img class="avatar-sm" [class.fire-border]="isTop(p)" [class.ice-border]="isBottom(p)" [src]="p.playerImage" [alt]="p.playerName" />
            @if (isTop(p)) { <span class="icon-badge icon-fire" aria-label="Top scorer">🔥</span> }
            @if (isBottom(p)) { <span class="icon-badge icon-ice" aria-label="Lowest scorer">🧊</span> }
          </span>
          <span class="name">{{ p.playerName }}</span>
          <span class="match-pts">{{ getPoints(p) }} pts</span>
        </div>
        <div class="actions">
          <button type="button" class="bb-btn" [style.background-image]="'url(/bola-icon.png)'" [attr.aria-label]="'Somar 1 ponto para ' + p.playerName" [attr.title]="'Somar 1 ponto para ' + p.playerName" (click)="animateAndAdjust($event.currentTarget, p, 1)" [disabled]="disabled">1</button>
          <button type="button" class="bb-btn" [style.background-image]="'url(/bola-icon.png)'" [attr.aria-label]="'Somar 2 pontos para ' + p.playerName" [attr.title]="'Somar 2 pontos para ' + p.playerName" (click)="animateAndAdjust($event.currentTarget, p, 2)" [disabled]="disabled">2</button>
          <button type="button" class="bb-btn" [style.background-image]="'url(/bola-icon.png)'" [attr.aria-label]="'Somar 3 pontos para ' + p.playerName" [attr.title]="'Somar 3 pontos para ' + p.playerName" (click)="animateAndAdjust($event.currentTarget, p, 3)" [disabled]="disabled">3</button>
        </div>
      </li>
    }
  </ul>
</div>
